<body>
    <h1>IR Remote Web Interface</h1>
    <h3>Pending Sequences</h3>
    <pre id="output"></pre>
    <button onclick="StartRecording()">Start Recording</button>
    <script>
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();

        xhr.onload = function () {
            output.textContent = xhr.responseText;
            setTimeout(1000);
            SendXHR();
        }

        function SendXHR() {
            xhr.open('GET', '{{ url_for('stream') }}');
            xhr.send();
        }

        function StartRecording() {
            SendXHR();
            let tempXhr = new XMLHttpRequest();
            tempXhr.onload = function () {
                console.log(tempXhr.responseText);
                setTimeout(1000);
            }
            tempXhr.open('GET', '{{ url_for('start_recording')}}')
            tempXhr.send()
        }
    </script>
</body>